<div class="main-сontainer__content">

    <form [formGroup]="inputFilterForm" class="filter-form">
        <mat-form-field>
            <input matInput placeholder="User phone" [(ngModel)]="filterUserPhone" formControlName="user_phone"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Product id" [(ngModel)]="filterProductId" formControlName="product_id"/>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput [matDatepicker]="pickerStart" [(ngModel)]="filterStartDate" formControlName="start_date" placeholder="Choose start date">
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="pickerFinish" [(ngModel)]="filterEndDate" formControlName="end_date" placeholder="Choose end date">
            <mat-datepicker-toggle matSuffix [for]="pickerFinish"></mat-datepicker-toggle>
            <mat-datepicker #pickerFinish></mat-datepicker>
        </mat-form-field>
    </form>

    <button class="filter-button" color="primary"
            mat-raised-button
            (click)="filterData(inputFilterForm.value)">
        Search
    </button>
    <button class="clear-button" mat-raised-button (click)="clearForm()">Clear</button>
    <br>

    <button class="create-button" mat-raised-button (click)="createOrder()">{{createOrderMessage}}</button>
    <orders-table-component
            [rows]="modifiedTableData"
            [columns]="columns"
            (onDelete)="openDelete($event)"
    ></orders-table-component>
    <router-outlet></router-outlet>
</div>

<app-modal-window class="modal-window">
    <div class="content" #deleteModal>
        <div class="delete-message">{{deleteMessage}}</div>
        <div class="buttons">
            <button color="primary" class="delete-button" mat-raised-button (click)="applyDelete(id)">Yes</button>
            <button mat-raised-button (click)="cancel()">No</button>
        </div>
    </div>

    <div class="content" #createModal>
        <div class="modal-header modal-orders-width">
            <span>{{createOrderMessage}}</span>
            <hr>
        </div>
        <div class="report-block">
            <form [formGroup]="inputCreateForm">
                <ng-select [items]="presentList"
                           bindLabel="name"
                           bindValue="id"
                           placeholder="Presents"
                           formControlName="present"
                           [(ngModel)]="present"
                           >
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label">{{item.name}} (price: {{item.price}}, count: {{item.count}})</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item">
                        <span>{{item.name}} (price: {{item.price}}, count: {{item.count}})</span>
                    </ng-template>
                </ng-select>

                <ng-select [items]="userList"
                           bindLabel="id"
                           bindValue="id"
                           placeholder="Users"
                           formControlName="user"
                           [(ngModel)]="user"
                           (change)="handleUserSelect($event)"
                >
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label">{{item.id}}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item">
                        <span>{{item.id}}</span>
                    </ng-template>
                </ng-select>

                <div *ngIf="isUserSelected;else other_content">
                    <span>{{name}} {{surname}}, Coins: {{coins}}</span>
                </div>
                <ng-template></ng-template>
            </form>
        </div>
        <div class="buttons">
            <button color="primary"
                    mat-raised-button
                    (click)="sendCreateForm(inputCreateForm.value)"
                    [disabled]="inputCreateForm.invalid">
                Save
            </button>
            <button mat-raised-button (click)="cancel()">Cancel</button>
        </div>
    </div>
</app-modal-window>