<mat-toolbar class="header mat-elevation-z4 toolbar">
    <div class="header__left-container">
        <button mat-icon-button (click)="onSideNavToogle.emit()">
            <mat-icon>menu</mat-icon>
        </button>
        <!--<img class="header__app-logo" src="{{appToolBarLogo}}" alt="logo">-->
    </div>
    <div class="header__right-container">
        <a class="dropdown-toggle" data-toggle="dropdown" (click)="logout()">
            <mat-icon class="header__right-account">account_circle</mat-icon>
            <span>
                Admin
            </span>
            <b class="caret"></b>
        </a>
    </div>
</mat-toolbar>