.header {
	display: flex;
	justify-content: space-between;
	background-color: #32353b;
	color: #fff;
	border-bottom: 1px #000 solid;
	&__left-container {
		display: flex;
		align-items: center;
		& > *:not(:first-child) {
			margin-left: 20px;
		}
	}
	&__right-container {
		cursor: pointer;
		padding: 25px;
		&:hover {
			background-color: #000;
		}
		a {
			color: #fff;
			font-size: 16px;
			.header__right-account {
				position: relative;
				left: -2px;
				bottom: -5px;
			}
		}
	}
	//&__app-logo {
	//	width: 200px;
	//}
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid\9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent
}
