.main-wrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.main-сontainer {
	flex: 1;
	&__content {
		min-width: 1200px;
	}
	&__side-menu {
		min-width: 225px;
		background-color: #32353b;
	}
}

.modal-window {
	.report-block {
		&__error-title {
			white-space: pre-line;
			color: #f44336;
		}
	}
}

mat-form-field {
	min-width: 500px;
}

.modal-header {
	height: 50px;
	span {
		font-size: 22px;
		font-weight: bold;
	}
}

.delete-message {
	margin-bottom: 35px;
	font-size: 18px;
}

.buttons {
	display: flex;
	justify-content: flex-end;
	button {
		margin-left: 8px;
	}
}