<div class="main-wrapper">
    <app-header class="main-wrapper__header"
                (onSideNavToogle)="sideNavMenu.toggle()"
    ></app-header>

    <mat-sidenav-container class="main-сontainer" >
        <mat-sidenav class="main-сontainer__side-menu" [mode]="'side'" #sideNavMenu>
            <app-nav-menu
                    [navMenuList]="navItems"
                    [hotLinksGroupTitle]="'Hot Links'">
            </app-nav-menu>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="main-сontainer__content">
                <button class="create-button" mat-raised-button (click)="createUser()">Create user</button>
                <table-component
                        [rows]="modifiedTableData"
                        [columns]="columns"
                        (onEdit)="openEdit($event)"
                        (onDelete)="openDelete($event)"
                ></table-component>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<app-modal-window class="modal-window">
    <div class="content" #deleteModal>
        <div class="delete-message">{{deleteMessage}}</div>
        <div class="buttons">
            <button color="primary" mat-raised-button (click)="applyDelete(id)">Yes</button>
            <button mat-raised-button (click)="cancel()">No</button>
        </div>
    </div>

    <div class="content" #editModal>
        <div class="modal-header">
            <span>{{editUserMessage}}</span>
            <hr>
        </div>
        <div class="report-block">
            <form [formGroup]="inputForm">
                <mat-form-field>
                    <input matInput placeholder="ID" [(ngModel)]="id" formControlName="id" readonly/>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput placeholder="Username" [(ngModel)]="userName" formControlName="username"/>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput placeholder="Name" [(ngModel)]="name" formControlName="name"/>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput placeholder="Surname" [(ngModel)]="surName" formControlName="surname"/>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput placeholder="Email" [(ngModel)]="email" formControlName="email"/>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput placeholder="Phone" [(ngModel)]="phone" formControlName="phone"/>
                </mat-form-field><br>
                <mat-form-field>
                    <mat-select [(ngModel)]="status" placeholder="Status" formControlName="status">
                        <mat-option *ngFor="let status of objectKeys(statuses)" [value]="status">
                            {{ statuses[status] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
        <div class="buttons">
            <button color="primary"
                    mat-raised-button
                    (click)="saveChanges(inputForm.value)"
                    [disabled]="inputForm.invalid">
                Save
            </button>
            <button mat-raised-button (click)="cancel()">Cancel</button>
        </div>
    </div>

    <div class="content" #createModal>
        <div class="modal-header">
            <span>{{createUserMessage}}</span>
            <hr>
        </div>
        <div class="report-block">
            <form [formGroup]="inputCreateForm">
                <mat-form-field>
                    <input matInput placeholder="Username" formControlName="username"/>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="name"/>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput placeholder="Surname" formControlName="surname"/>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email"/>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput placeholder="Phone" formControlName="phone"/>
                </mat-form-field><br>
                <mat-form-field>
                    <mat-select placeholder="Status" formControlName="status">
                        <mat-option *ngFor="let status of objectKeys(statuses)" [value]="status">
                            {{ statuses[status] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
        <div class="buttons">
            <button color="primary"
                    mat-raised-button
                    (click)="sendCreateForm(inputCreateForm.value)"
                    [disabled]="inputCreateForm.invalid">
                Save
            </button>
            <button mat-raised-button (click)="cancel()">Cancel</button>
        </div>
    </div>
</app-modal-window>