<div class="main-сontainer__content">
    <button class="create-button" mat-raised-button (click)="createLottery()">Create lottery</button>
    <lotteries-table-component
            [rows]="modifiedTableData"
            [columns]="columns"
            (onEdit)="openEdit($event)"
            (onDelete)="openDelete($event)"
    ></lotteries-table-component>
    <router-outlet></router-outlet>
</div>

<app-modal-window class="modal-window">
    <div class="content" #deleteModal>
        <div class="delete-message">{{deleteMessage}}</div>
        <div class="buttons">
            <button color="primary" class="delete-button" mat-raised-button (click)="applyDelete(id)">Yes</button>
            <button mat-raised-button (click)="cancel()">No</button>
        </div>
    </div>

    <div class="content" #editModal>
        <div class="modal-header">
            <span>{{editLotteryMessage}}</span>
            <hr>
        </div>
        <div class="report-block">
            <form [formGroup]="inputEditForm">
                <mat-form-field>
                    <input matInput placeholder="ID" [(ngModel)]="id" formControlName="id" readonly/>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Name" [(ngModel)]="name" formControlName="name" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputEditForm.controls.name.invalid
                 && inputEditForm.controls.name.touched"
                     class="error-message">Name can't be blank
                </div>
                <mat-form-field>
                    <input matInput placeholder="Description" [(ngModel)]="description" formControlName="description" [maxlength]="50"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputEditForm.controls.description.invalid
                 && inputEditForm.controls.description.touched"
                     class="error-message">Description can't be blank
                </div>
                <mat-form-field>
                    <input matInput type="number" placeholder="Total" [(ngModel)]="total" formControlName="total" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputEditForm.controls.total.invalid
                 && inputEditForm.controls.total.touched"
                     class="error-message">Total can't be blank
                </div>
                <mat-form-field>
                    <input matInput type="number" placeholder="Cost" [(ngModel)]="cost" formControlName="cost" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputEditForm.controls.cost.invalid
                 && inputEditForm.controls.cost.touched"
                     class="error-message">Cost can't be blank
                </div>
                <mat-form-field>
                    <input matInput placeholder="Prize" [(ngModel)]="prize" formControlName="prize" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputEditForm.controls.prize.invalid
                 && inputEditForm.controls.prize.touched"
                     class="error-message">Prize can't be blank
                </div>
                <mat-form-field>
                    <mat-select [(ngModel)]="status" placeholder="Status" formControlName="status">
                        <mat-option *ngFor="let status of objectKeys(statuses)" [value]="status">
                            {{ statuses[status] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <button mat-raised-button class="upload-btn">
                    {{upload}}
                    <input type="file" #fileInput placeholder="Photo" class="upload-btn__input" formControlName="photo" (change)="handleFileInput($event.target.files)">
                </button>
            </form>
        </div>
        <div class="buttons">
            <button color="primary"
                    mat-raised-button
                    (click)="saveChanges(inputEditForm.value)"
                    [disabled]="inputEditForm.invalid">
                Save
            </button>
            <button mat-raised-button (click)="cancel()">Cancel</button>
        </div>
    </div>

    <div class="content" #createModal>
        <div class="modal-header">
            <span>{{createLotteryMessage}}</span>
            <hr>
        </div>
        <div class="report-block">
            <form [formGroup]="inputCreateForm">
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="name" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputCreateForm.controls.name.invalid
                 && inputCreateForm.controls.name.touched"
                     class="error-message">Name can't be blank
                </div>
                <mat-form-field>
                    <input matInput placeholder="Description" formControlName="description" [maxlength]="50"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputCreateForm.controls.description.invalid
                 && inputCreateForm.controls.description.touched"
                     class="error-message">Description can't be blank
                </div>
                <mat-form-field>
                    <input matInput type="number" placeholder="Total" formControlName="total" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputCreateForm.controls.total.invalid
                 && inputCreateForm.controls.total.touched"
                     class="error-message">Total can't be blank
                </div>
                <mat-form-field>
                    <input matInput type="number" placeholder="Cost" formControlName="cost" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputCreateForm.controls.cost.invalid
                 && inputCreateForm.controls.cost.touched"
                     class="error-message">Cost can't be blank
                </div>
                <mat-form-field>
                    <input matInput placeholder="Prize" formControlName="prize" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputCreateForm.controls.prize.invalid
                 && inputCreateForm.controls.prize.touched"
                     class="error-message">Prize can't be blank
                </div>
                <br>
                <mat-form-field>
                    <mat-select placeholder="Status" formControlName="status">
                        <mat-option *ngFor="let status of objectKeys(statuses)" [value]="status">
                            {{ statuses[status] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <button mat-raised-button class="upload-btn">
                    {{upload}}
                    <input type="file" #fileInput placeholder="Photo" class="upload-btn__input" formControlName="photo" (change)="handleFileInput($event.target.files)">
                </button>
            </form>
        </div>
        <div class="buttons">
            <button color="primary"
                    mat-raised-button
                    (click)="sendCreateForm(inputCreateForm.value)"
                    [disabled]="inputCreateForm.invalid">
                Save
            </button>
            <button mat-raised-button (click)="cancel()">Cancel</button>
        </div>
    </div>
</app-modal-window>