<ngx-datatable
        class="bootstrap main-table"
        [rows]="rows"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
        [loadingIndicator]="loadingIndicator">

    <ngx-datatable-column name="ID" [cellClass]="'action-btn-cell'" [width]="40">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.id}}</span>
        </ng-template>
    </ngx-datatable-column>


<ng-container *ngFor="let column of columns">
    <ngx-datatable-column name="{{column.name}}" prop="{{column.prop}}" [width]="100">
    </ngx-datatable-column>
</ng-container>

    <ngx-datatable-column name="Shop ID" [cellClass]="'action-btn-cell'" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.shop_id}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="City ID" [cellClass]="'action-btn-cell'" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.city_id}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Phone" [cellClass]="'action-btn-cell'" [width]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.phone}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Email" [cellClass]="'action-btn-cell'" [width]="180">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.email}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Date created" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.created_at | date:"HH:mm:ss, dd.MM.yyyy"}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Sms code" [cellClass]="'action-btn-cell'" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.smscode?.code}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Action" [cellClass]="'action-btn-cell'" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button class="button-edit" mat-icon-button (click)="openEdit(row)">
                <mat-icon>edit</mat-icon>
            </button>
            <button color="warn" mat-icon-button mat-color (click)="openDelete(row)">
                <mat-icon>delete</mat-icon>
            </button>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>