<div class="main-wrapper">
    <app-header class="main-wrapper__header"
                (onSideNavToogle)="sideNavMenu.toggle()"
    ></app-header>

    <mat-sidenav-container class="main-сontainer">
        <mat-sidenav class="main-сontainer__side-menu" [mode]="'over'" #sideNavMenu>
            <app-nav-menu
                    [navMenuList]="navItems"
                    [hotLinksGroupTitle]="'Hot Links'">
            </app-nav-menu>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="main-сontainer__content">
                <form [formGroup]="inputFilterForm" class="filter-form">
                    <mat-form-field>
                        <input matInput placeholder="Name" [(ngModel)]="filterName" formControlName="name"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Username" [(ngModel)]="filterUsername" formControlName="username"/>
                    </mat-form-field>
                </form>

                <button class="filter-button" color="primary"
                        mat-raised-button
                        (click)="filterData(inputFilterForm.value)">
                    Search
                </button>
                <button class="clear-button" mat-raised-button (click)="clearForm()">Clear</button><br>

                <button class="create-button" mat-raised-button (click)="createAdmin()">Create administrator</button>
                <administrators-table-component
                        [rows]="modifiedTableData"
                        [columns]="columns"
                        (onEdit)="openEdit($event)"
                        (onDelete)="openDelete($event)"
                ></administrators-table-component>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<app-modal-window class="modal-window">
    <div class="content" #deleteModal>
        <div class="delete-message">{{deleteMessage}}</div>
        <div class="buttons">
            <button color="primary" class="delete-button" mat-raised-button (click)="applyDelete(id)">Yes</button>
            <button mat-raised-button (click)="cancel()">No</button>
        </div>
    </div>

    <div class="content" #editModal>
        <div class="modal-header">
            <span>{{editAdministratorMessage}}</span>
            <hr>
        </div>
        <div class="report-block">
            <form [formGroup]="inputEditForm">
                <mat-form-field>
                    <input matInput placeholder="ID" [(ngModel)]="id" formControlName="id" readonly/>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Username" [(ngModel)]="userName" formControlName="username"
                           [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputEditForm.controls.username.invalid
                 && inputEditForm.controls.username.touched"
                     class="error-message">Username can't be blank
                </div>
                <mat-form-field>
                    <input matInput placeholder="Name" [(ngModel)]="name" formControlName="name" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputEditForm.controls.name.invalid
                 && inputEditForm.controls.name.touched"
                     class="error-message">Name can't be blank
                </div>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" [(ngModel)]="password"
                           formControlName="password" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputEditForm.controls.password.invalid
                && inputEditForm.controls.password.touched"
                     class="error-message">Password can't be blank
                </div>
                <mat-form-field>
                    <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="confirmpassword"
                           formControlName="confirmpassword" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputEditForm.errors?.mismatch"
                     class="error-message">Password doesn't match
                </div>
                <mat-form-field>
                    <mat-select [(ngModel)]="status" placeholder="Status" formControlName="status">
                        <mat-option *ngFor="let status of objectKeys(statuses)" [value]="status">
                            {{ statuses[status] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
        <div class="buttons">
            <button color="primary"
                    mat-raised-button
                    (click)="saveChanges(inputEditForm.value)"
                    [disabled]="inputEditForm.invalid">
                Save
            </button>
            <button mat-raised-button (click)="cancel()">Cancel</button>
        </div>
    </div>

    <div class="content" #createModal>
        <div class="modal-header">
            <span>{{createAdministratorMessage}}</span>
            <hr>
        </div>
        <div class="report-block">
            <form [formGroup]="inputCreateForm">
                <mat-form-field>
                    <input matInput placeholder="Username" formControlName="username" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputCreateForm.controls.username.invalid
                 && inputCreateForm.controls.username.touched"
                     class="error-message">Username can't be blank
                </div>
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="name" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputCreateForm.controls.name.invalid
                 && inputCreateForm.controls.name.touched"
                     class="error-message">Name can't be blank
                </div>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" [(ngModel)]="password"
                           formControlName="password" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputCreateForm.controls.password.invalid
                && inputCreateForm.controls.password.touched"
                     class="error-message">Password can't be blank
                </div>
                <mat-form-field>
                    <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="confirmpassword"
                           formControlName="confirmpassword" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputCreateForm.errors?.mismatch"
                     class="error-message">Password doesn't match
                </div>
                <mat-form-field>
                    <mat-select placeholder="Status" formControlName="status">
                        <mat-option *ngFor="let status of objectKeys(statuses)" [value]="status">
                            {{ statuses[status] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
        <div class="buttons">
            <button color="primary"
                    mat-raised-button
                    (click)="sendCreateForm(inputCreateForm.value)"
                    [disabled]="inputCreateForm.invalid">
                Save
            </button>
            <button mat-raised-button (click)="cancel()">Cancel</button>
        </div>
    </div>
</app-modal-window>