<div class="main-сontainer__content">
    <button class="create-button" mat-raised-button (click)="createPresent()">{{createPresentMessage}}</button>
    <presents-table-component
            [rows]="modifiedTableData"
            [columns]="columns"
            (onEdit)="openEdit($event)"
    ></presents-table-component>
    <router-outlet></router-outlet>
</div>

<app-modal-window class="modal-window">

    <div class="content" #editModal>
        <div class="modal-header">
            <span>{{editPresentMessage}}</span>
            <hr>
        </div>
        <div class="report-block">
            <form [formGroup]="inputEditForm">
                <mat-form-field>
                    <input matInput placeholder="ID" [(ngModel)]="id" formControlName="id" readonly/>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Name" [(ngModel)]="name" formControlName="name" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputEditForm.controls.name.invalid
                 && inputEditForm.controls.name.touched"
                     class="error-message">Name can't be blank
                </div>
                <mat-form-field>
                    <input matInput placeholder="Description" [(ngModel)]="description" formControlName="description"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputEditForm.controls.description.invalid
                 && inputEditForm.controls.description.touched"
                     class="error-message">Description can't be blank
                </div>
                <mat-form-field>
                    <input matInput placeholder="Price" [(ngModel)]="price" formControlName="price" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputEditForm.controls.price.invalid
                 && inputEditForm.controls.price.touched"
                     class="error-message">Price can't be blank
                </div>
                <mat-form-field>
                    <input matInput placeholder="Count" [(ngModel)]="count" formControlName="count" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputEditForm.controls.count.invalid
                 && inputEditForm.controls.count.touched"
                     class="error-message">Count can't be blank
                </div>
                <mat-form-field>
                    <mat-select [(ngModel)]="status" placeholder="Status" formControlName="status">
                        <mat-option *ngFor="let status of objectKeys(statuses)" [value]="status">
                            {{ statuses[status] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <button mat-raised-button class="upload-btn">
                    {{upload}}
                    <input type="file" #fileInput placeholder="Photo" class="upload-btn__input" formControlName="photo" (change)="handleFileInput($event.target.files)">
                </button>
                <img *ngIf="isImageUploaded" class="upload-text" src="{{photo}}" alt="preview-image">
            </form>
        </div>
        <div class="buttons">
            <button color="primary"
                    mat-raised-button
                    (click)="saveChanges(inputEditForm.value)"
                    [disabled]="inputEditForm.invalid">
                Save
            </button>
            <button mat-raised-button (click)="cancel()">Cancel</button>
        </div>
    </div>

    <div class="content" #createModal>
        <div class="modal-header">
            <span>{{createPresentMessage}}</span>
            <hr>
        </div>
        <div class="report-block">
            <form [formGroup]="inputCreateForm">
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="name" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputCreateForm.controls.name.invalid
                 && inputCreateForm.controls.name.touched"
                     class="error-message">Name can't be blank
                </div>
                <mat-form-field>
                    <input matInput placeholder="Description" formControlName="description"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputCreateForm.controls.description.invalid
                 && inputCreateForm.controls.description.touched"
                     class="error-message">Description can't be blank
                </div>
                <mat-form-field>
                    <input matInput placeholder="Price" formControlName="price" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputCreateForm.controls.price.invalid
                 && inputCreateForm.controls.price.touched"
                     class="error-message">Price can't be blank
                </div>
                <mat-form-field>
                    <input matInput placeholder="Count" formControlName="count" [maxlength]="20"/>
                </mat-form-field>
                <br>
                <div *ngIf="inputCreateForm.controls.count.invalid
                 && inputCreateForm.controls.count.touched"
                     class="error-message">Count can't be blank
                </div>
                <mat-form-field>
                    <mat-select placeholder="Status" formControlName="status">
                        <mat-option *ngFor="let status of objectKeys(statuses)" [value]="status">
                            {{ statuses[status] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <button mat-raised-button class="upload-btn">
                    {{upload}}
                    <input type="file" #fileInput placeholder="Photo" class="upload-btn__input" formControlName="photo" (change)="handleFileInput($event.target.files)">
                </button>
                <img *ngIf="isImageUploaded" class="upload-text" src="{{photo}}" alt="preview-image">
            </form>
        </div>
        <div class="buttons">
            <button color="primary"
                    mat-raised-button
                    (click)="sendCreateForm(inputCreateForm.value)"
                    [disabled]="inputCreateForm.invalid">
                Save
            </button>
            <button mat-raised-button (click)="cancel()">Cancel</button>
        </div>
    </div>
</app-modal-window>