:host {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login {
	&__wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	&__input-wrapper {
		position: relative;
		height: 50px;
	}
	&__text {
		background-color: transparent;
		width: 250px;
		border: none;
		border-bottom: 1px solid #fff;
		padding: 10px 20px;
		outline: none;
		text-align: center;
		font-size: 16px;
	}
	&__input-button {
		//background-color: #000;
		height: 2.725rem !important;
		color: #fff;
		font-size: 18px;
		display: block;
		margin: 40px auto;
		width: 190px;
		border-radius: 20px;
		border: 1px solid #fff;
		outline: none;
		&:hover {
			opacity: 0.6;
		}
	}
	.transparent {
		color: #fff;
		background-color: transparent;
	}
}

.wrongData {
	@extend .login__text;
	border-bottom: 1px solid #c60000;
	color: #c60000;
	-webkit-text-fill-color: #c60000 !important;
}

//cancel autofill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	color: #c60000 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: #fff;
}

textarea:focus, input:focus {
	color: #ff0000;
}


//placeholder
::-webkit-input-placeholder {
	color: #fff;
	text-align: center;
}
:-moz-placeholder {
	color: #fff;
	text-align: center;
}
::-moz-placeholder {
	color: #fff;
	text-align: center;
}
:-ms-input-placeholder {
	color: #fff;
	text-align: center;
}