<ngx-datatable
        class="bootstrap main-table"
        [rows]="rows"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
        [loadingIndicator]="loadingIndicator">

    <ngx-datatable-column name="ID" [cellClass]="'action-btn-cell'" [width]="40">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.id}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Name" [cellClass]="'action-btn-cell'" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.name}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Topic" [cellClass]="'action-btn-cell'" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.brand.name}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ng-container *ngFor="let column of columns">
        <ngx-datatable-column name="{{column.name}}" prop="{{column.prop}}" [width]="100">
        </ngx-datatable-column>
    </ng-container>

    <ngx-datatable-column name="Action" [cellClass]="'action-btn-cell'" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button class="button-edit" mat-icon-button (click)="openEdit(row)" title="Edit">
                <mat-icon>edit</mat-icon>
            </button>

            <button *ngIf="specialQuiz" class="button-send" mat-icon-button title="Send to all">
                <mat-icon>send</mat-icon>
            </button>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>