<div class="main-сontainer__content">

    <form [formGroup]="inputFilterForm" class="filter-form">
        <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="filterName" formControlName="name"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Surname" [(ngModel)]="filterSurname" formControlName="surname"/>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="filterEmail" formControlName="email"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Phone" [(ngModel)]="filterPhone" formControlName="phone"/>
        </mat-form-field>
        <mat-form-field>
            <mat-select [(ngModel)]="filterStatus" placeholder="Status" formControlName="status">
                <mat-option *ngFor="let status of objectKeys(statuses)" [value]="status">
                    {{ statuses[status] }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <button class="filter-button" color="primary"
            mat-raised-button
            (click)="filterData(inputFilterForm.value)">
        Search
    </button>
    <button class="clear-button" mat-raised-button (click)="clearForm()">Clear</button>

    <button class="filter-button" color="primary"
            mat-raised-button
            (click)="filterData(inputFilterForm.value, true)">
        Download
    </button>
    <br>

    <button class="create-button" mat-raised-button (click)="createUser()">Create user</button>
    <users-table-component
            [rows]="modifiedTableData"
            [columns]="columns"
            (onEdit)="openEdit($event)"
            (onDelete)="openDelete($event)"
    ></users-table-component>
    <router-outlet></router-outlet>
</div>

<app-modal-window class="modal-window">
    <div class="content" #deleteModal>
        <div class="delete-message">{{deleteMessage}}</div>
        <div class="buttons">
            <button color="primary" class="delete-button" mat-raised-button (click)="applyDelete(id)">Yes</button>
            <button mat-raised-button (click)="cancel()">No</button>
        </div>
    </div>

    <div class="content" #editModal>
        <div class="modal-header">
            <span>{{editUserMessage}}</span>
            <hr>
        </div>
        <div class="report-block">
            <form [formGroup]="inputEditForm">
                <mat-form-field>
                    <input matInput placeholder="ID" [(ngModel)]="id" formControlName="id" readonly/>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput placeholder="Username" [(ngModel)]="userName" formControlName="username" [maxlength]="20"/>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput placeholder="Name" [(ngModel)]="name" formControlName="name" [maxlength]="20"/>
                </mat-form-field><br>
                <div *ngIf="inputEditForm.controls.name.invalid
                 && inputEditForm.controls.name.touched"
                     class="error-message">Name can't be blank
                </div>
                <mat-form-field>
                    <input matInput placeholder="Surname" [(ngModel)]="surName" formControlName="surname" [maxlength]="20"/>
                </mat-form-field><br>
                <div *ngIf="inputEditForm.controls.surname.invalid
                 && inputEditForm.controls.surname.touched"
                     class="error-message">Surname can't be blank
                </div>
                <mat-form-field>
                    <input matInput placeholder="Email" [(ngModel)]="email" formControlName="email" [maxlength]="40"/>
                </mat-form-field><br>
                <div *ngIf="inputEditForm.controls.email.invalid
                 && inputEditForm.controls.email.touched"
                     class="error-message">Incorrect email
                </div>
                <mat-form-field>
                    <input matInput placeholder="Phone" [(ngModel)]="phone" formControlName="phone" [maxlength]="25"/>
                </mat-form-field><br>
                <div *ngIf="inputEditForm.controls.phone.invalid
                 && inputEditForm.controls.phone.touched"
                     class="error-message">Incorrect phone
                </div>
                <mat-form-field>
                    <input matInput placeholder="Shop ID" [(ngModel)]="shop_id" formControlName="shop_id" [maxlength]="255"/>
                </mat-form-field><br>
                <div *ngIf="inputEditForm.controls.shop_id.invalid
                 && inputEditForm.controls.shop_id.touched"
                     class="error-message">Shop ID can't be blank
                </div>
                <ng-select [items]="cities"
                           bindLabel="name"
                           bindValue="id"
                           placeholder="City"
                           formControlName="city_id"
                           [(ngModel)]="city_id">
                </ng-select>
                <div *ngIf="inputEditForm.controls.city_id.invalid
                 && inputEditForm.controls.city_id.touched"
                     class="error-message">City can't be blank
                </div>
                <mat-form-field>
                    <mat-select [(ngModel)]="status" placeholder="Status" formControlName="status">
                        <mat-option *ngFor="let status of objectKeys(statuses)" [value]="status">
                            {{ statuses[status] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <button mat-raised-button class="upload-btn">
                    {{upload}}
                    <input type="file" #fileInput placeholder="User photo" class="upload-btn__input" formControlName="userImage" (change)="handleFileInputForUser($event.target.files, 0)">
                </button>
                <img *ngIf="userImage" class="upload-text" src={{userImage}} alt="preview-image">
                <br>
                <br>
            </form>
        </div>
        <div class="buttons">
            <button color="primary"
                    mat-raised-button
                    (click)="saveChanges(inputEditForm.value)"
                    [disabled]="inputEditForm.invalid">
                Save
            </button>
            <button mat-raised-button (click)="cancel()">Cancel</button>
        </div>
    </div>

    <div class="content" #createModal>
        <div class="modal-header">
            <span>{{createUserMessage}}</span>
            <hr>
        </div>
        <div class="report-block">
            <form [formGroup]="inputCreateForm">
                <mat-form-field>
                    <input matInput placeholder="Username" formControlName="username" [maxlength]="20"/>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="name" [maxlength]="20"/>
                </mat-form-field><br>
                <div *ngIf="inputCreateForm.controls.name.invalid
                 && inputCreateForm.controls.name.touched"
                     class="error-message">Name can't be blank
                </div>
                <mat-form-field>
                    <input matInput placeholder="Surname" formControlName="surname" [maxlength]="20"/>
                </mat-form-field><br>
                <div *ngIf="inputCreateForm.controls.surname.invalid
                 && inputCreateForm.controls.surname.touched"
                     class="error-message">Surname can't be blank
                </div>
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email" [maxlength]="40"/>
                </mat-form-field><br>
                <div *ngIf="inputCreateForm.controls.email.invalid
                 && inputCreateForm.controls.email.touched"
                     class="error-message">Incorrect email
                </div>
                <mat-form-field>
                    <input matInput placeholder="Phone" formControlName="phone" [maxlength]="25"/>
                </mat-form-field><br>
                <div *ngIf="inputCreateForm.controls.phone.invalid
                 && inputCreateForm.controls.phone.touched"
                     class="error-message">Incorrect phone
                </div>
                <mat-form-field>
                    <input matInput placeholder="Shop ID" formControlName="shop_id" [maxlength]="255"/>
                </mat-form-field><br>
                <div *ngIf="inputCreateForm.controls.shop_id.invalid
                 && inputCreateForm.controls.shop_id.touched"
                     class="error-message">Shop ID can't be blank
                </div>
                    <ng-select [items]="cities"
                               bindLabel="name"
                               bindValue="id"
                               placeholder="City"
                               formControlName="city_id">
                    </ng-select>
                <div *ngIf="inputCreateForm.controls.city_id.invalid
                 && inputCreateForm.controls.city_id.touched"
                     class="error-message">City can't be blank
                </div>
                <mat-form-field>
                    <mat-select placeholder="Status" formControlName="status">
                        <mat-option *ngFor="let status of objectKeys(statuses)" [value]="status">
                            {{ statuses[status] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <button mat-raised-button class="upload-btn">
                    {{upload}}
                    <input type="file" #fileInput placeholder="User photo" class="upload-btn__input" formControlName="userImage" (change)="handleFileInputForUser($event.target.files, 0)">
                </button>
                <img *ngIf="userImage" class="upload-text" src={{userImage}} alt="preview-image">
                <br>
                <br>
            </form>
        </div>
        <div class="buttons">
            <button color="primary"
                    mat-raised-button
                    (click)="sendCreateForm(inputCreateForm.value)"
                    [disabled]="inputCreateForm.invalid">
                Save
            </button>
            <button mat-raised-button (click)="cancel()">Cancel</button>
        </div>
    </div>
</app-modal-window>