<ngx-datatable
        class="bootstrap main-table"
        [rows]="rows"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
        [loadingIndicator]="loadingIndicator">

    <ng-container *ngFor="let column of columns">
        <ngx-datatable-column name="{{column.name}}" prop="{{column.prop}}">
        </ngx-datatable-column>
    </ng-container>

    <ngx-datatable-column *ngIf="specialquizzes" name="Quiz" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.quiz}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="specialquizzes" name="User ID" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user_id}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="specialquizzes" name="Shop ID" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.shop_id}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="specialquizzes" name="Username" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user_name}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="specialquizzes" name="Surname" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user_surname}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="specialquizzes" name="Date" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.date | date:"HH:mm:ss, dd.MM.yyyy"}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="specialquizzes" name="Coins" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.coins}}</span>
        </ng-template>
    </ngx-datatable-column>


    <!--games-->
    <ngx-datatable-column *ngIf="games" name="Game ID" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.game_id}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="games" name="User" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="games" name="User points" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user_points}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="games" name="Opponent" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.opponent}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="games" name="Opponent points" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.opponent_points}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="games" name="Winner" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.winner}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="games" name="Date" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.date | date:"HH:mm:ss, dd.MM.yyyy"}}</span>
        </ng-template>
    </ngx-datatable-column>

    <!--lotteries-->
    <ngx-datatable-column *ngIf="lotteries" name="Name" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.name}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="lotteries" name="User" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="lotteries" name="Status" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.status}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="lotteries" name="Date" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.date | date:"HH:mm:ss, dd.MM.yyyy"}}</span>
        </ng-template>
    </ngx-datatable-column>

    <!--orders-->
    <ngx-datatable-column *ngIf="orders" name="Product ID" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.product_id}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="orders" name="Product Name" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.product_name}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="orders" name="Name" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user_name}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="orders" name="Email" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user_email}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="orders" name="Phone" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user_phone}}</span>
        </ng-template>
    </ngx-datatable-column>

    <!--<ngx-datatable-column *ngIf="orders" name="Shop ID" [cellClass]="'action-btn-cell'">-->
        <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
            <!--<span>{{row.user.shop_id}}</span>-->
        <!--</ng-template>-->
    <!--</ngx-datatable-column>-->

    <ngx-datatable-column *ngIf="orders" name="Date created" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.created_at | date:"HH:mm:ss, dd.MM.yyyy"}}</span>
        </ng-template>
    </ngx-datatable-column>

    <!--ratings-->
    <ngx-datatable-column *ngIf="ratings" name="Name" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user_name}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="ratings" name="Surname" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user_surname}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="ratings" name="Username" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user_username}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="ratings" name="City" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.city}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="ratings" name="Points" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.points}}</span>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>