<ngx-datatable
        class="bootstrap main-table"
        [rows]="rows"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
        [loadingIndicator]="loadingIndicator">

    <ng-container *ngFor="let column of columns">
        <ngx-datatable-column name="{{column.name}}" prop="{{column.prop}}">
        </ngx-datatable-column>
    </ng-container>

    <ngx-datatable-column *ngIf="specialquizzes" name="Quiz" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.quiz}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="specialquizzes" name="User ID" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user_id}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="specialquizzes" name="Shop ID" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.shop_id}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="specialquizzes" name="Username" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user_name}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="specialquizzes" name="Surname" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user_surname}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="specialquizzes" name="Date" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.date | date:"HH:mm:ss, dd.MM.yyyy"}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="specialquizzes" name="Coins" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.coins}}</span>
        </ng-template>
    </ngx-datatable-column>


    <!--games-->
    <ngx-datatable-column *ngIf="games" name="Game ID" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.game_id}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="games" name="User" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="games" name="User" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="games" name="User Points" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user_points}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="games" name="Opponent" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.opponent}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="games" name="Winner" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.winner}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="games" name="Date" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.date | date:"HH:mm:ss, dd.MM.yyyy"}}</span>
        </ng-template>
    </ngx-datatable-column>

    <!--lotteries-->
    <ngx-datatable-column *ngIf="lotteries" name="Name" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.name}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="lotteries" name="User" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.user}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="lotteries" name="Status" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.status}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="lotteries" name="Date" [cellClass]="'action-btn-cell'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.date | date:"HH:mm:ss, dd.MM.yyyy"}}</span>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>