<ngx-datatable
        class="bootstrap main-table"
        [rows]="rows"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
        [loadingIndicator]="loadingIndicator">

    <ngx-datatable-column name="Id" [cellClass]="'action-btn-cell'" [width]="80">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.id}}</span>
        </ng-template>
    </ngx-datatable-column>


<ng-container *ngFor="let column of columns">
    <ngx-datatable-column name="{{column.name}}" prop="{{column.prop}}" [width]="150">
    </ngx-datatable-column>
</ng-container>

    <ngx-datatable-column name="Action" [cellClass]="'action-btn-cell'" [width]="200">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button class="button-edit" mat-raised-button (click)="openEdit(row)">Edit</button>
            <button color="warn" class="" mat-raised-button mat-warn (click)="openDelete(row)">Delete</button>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>