<ngx-datatable
        class="material main-table"
        [rows]="rows"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
        [loadingIndicator]="loadingIndicator">

<ng-container *ngFor="let column of columns">
    <ngx-datatable-column name="{{column.name}}" prop="{{column.prop}}" [width]="400">
    </ngx-datatable-column>
</ng-container>
<ngx-datatable-column name="Photo" [cellClass]="'action-btn-cell'" [width]="400">
    <ng-template let-row="row" ngx-datatable-cell-template>
        <img *ngIf="row.photo"
            width="100" height="100"
            src={{row.photo}}
        />
    </ng-template>
</ngx-datatable-column>
</ngx-datatable>